<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="{{app_address}}/static/img/favicon.svg">
<link rel="stylesheet" href="{{app_address}}/static/css/manager.css">
<link rel="stylesheet" href="{{app_address}}/static/js/lib/bootstrap-icons.{{mode}}-1.5.0.css">
<link rel="stylesheet" href="{{app_address}}/static/js/lib/bootstrap/5.0.2/bootstrap.{{mode}}.css">
<script src="{{app_address}}/static/js/lib/jquery-3.6.0.{{mode}}.js"></script>
<script src="{{app_address}}/static/js/lib/axios/0.21.1/axios.{{mode}}.js"></script>
<script src="{{app_address}}/static/js/lib/bootstrap/5.0.2/bootstrap.bundle.{{mode}}.js"></script>
<script src="{{app_address}}/static/js/lib/jquery-3.6.0.{{mode}}.js"></script>

<html>
<head>
<style>
</style>
<title>File Manager</title>
</head>
<style>
  body {
    padding-right: 0 !important;
  }
</style>
<!-- 
  This style is used to fixed the bug mentioned in the following link:
  https://github.com/twbs/bootstrap/issues/27071
  But the solution is found from this link:
  https://stackoverflow.com/questions/32862394/bootstrap-modals-keep-adding-padding-right-to-body-after-closed
-->
<body>
  <script>
  window.app_address = "{{ app_address | safe }}";
  </script>
  <div id="root"></div>
  <script src="./static/js/manager.js"></script>
</body>
</html>