<!DOCTYPE html>
<link rel="shortcut icon" href="./static/favicon.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="//monitor.sz.lan/resources/w3.css">
<link rel="stylesheet" href="//monitor.sz.lan/resources/w3-colors-2017.css">
<link rel="stylesheet" href="//monitor.sz.lan/resources/w3-colors-highway.css">
<link rel="stylesheet" href="//monitor.sz.lan/resources/font-awesome.min.css">
<script src="//monitor.sz.lan/resources/jquery-3.5.1.min.js"></script>
<html>
<head>
<style>
</style>
<title>Video Streamer</title>
</head>
<body>
<div class="w3-container w3-responsive" style="max-width: 50em; padding:0.75rem; display: block; margin-left: auto; margin-right: auto;">
  {%for i in range(0, dir_list|length)%}
  <div class="w3-cell-row" style="width:100%; word-wrap:break-word; overflow-wrap:break-word; word-break:break-all;">
      <div class="w3-container w3-cell" style="width:15%;">
        <img src="./static/folder.png" alt="Thumbnail" style="max-width:100%;max-height:6em;display: block;margin:auto;text-align:center;">
      </div>
      <div class="w3-container w3-cell" style="max-width:100%">
      
      
        <p style="margin-top:0.1em; margin-bottom:0.1em;"><a href="javascript:window.open('./?asset_dir=' + encodeURIComponent('{{ asset_dir + '/' + dir_list[i] }}'),'_self');" style="overflow-wrap:break-word;">{{ dir_list[i] }}</a></p>
      </div>
      <div class="w3-container w3-cell" style="width:3%;padding:2px;">
        <button onclick="contextMenu('dir-{{i}}');" class="w3-button w3-white">&#x22EE;</button>
        <div id="context-menu-dir-{{i}}" class="w3-dropdown-content w3-bar-block w3-border w3-left" style="margin-left:-100px;">
          <a onclick="contextMenuItemRenameVideo('{{ dir_list[i] }}');" class="w3-bar-item w3-button">Rename</a>
          <a onclick="contextMenuItemRemoveVideo('{{ dir_list[i] }}');" class="w3-bar-item w3-button">Remove</a>
        </div>
      </div>
  </div>
  <hr style="margin:1px;">
  {%endfor%}
  
  {%for i in range(0, video_list|length)%}
  <div class="w3-cell-row" style="width:100%; word-wrap:break-word; overflow-wrap:break-word; word-break:break-all;">
      <div class="w3-container w3-cell" style="width:33%;">
        <a onclick="openFile('{{asset_dir}}', '{{video_list[i]}}');">
          <img src="./static/thumbnails/{{ video_list[i] }}.jpg" alt="Thumbnail loading or unavailable" onerror=this.src="./static/file.png" 
            style="max-width:100%; display:block; margin-top:0.1em; text-align:center;">
        </a>
      </div>
      <div class="w3-container w3-cell" style="max-width:100%; word-wrap:break-word; overflow-wrap:break-word;; word-break:break-all;">
        <p style="margin-top:0.1em; margin-bottom:0.1em;"><a href="javascript:openFile('{{asset_dir}}', '{{video_list[i]}}');">{{ video_list[i] }}</a></p>
        <p style="margin-top: auto;">{{videosize_list[i]}}MB</p>
      </div>
      <div class="w3-container w3-cell" style="width:3%;padding:2px;">
        <button onclick="contextMenu('video-{{i}}');" class="w3-button w3-white">&#x22EE;</button>
        <div id="context-menu-video-{{i}}" class="w3-dropdown-content w3-bar-block w3-border w3-left" style="margin-left:-100px;">
          <a onclick="contextMenuItemRenameVideo('{{ video_list[i] }}');" class="w3-bar-item w3-button">Rename</a>
          <a onclick="contextMenuItemRemoveVideo('{{ video_list[i] }}');" class="w3-bar-item w3-button">Remove</a>
          <a onclick="contextMenuItemConvertVideo('{{ video_list[i] }}');" class="w3-bar-item w3-button">To Webm</a>
          <a onclick="contextMenuItemScaleVideo640P('{{ video_list[i] }}');" class="w3-bar-item w3-button">To 640p</a>
          <a onclick="contextMenuItemScaleVideo480P('{{ video_list[i] }}');" class="w3-bar-item w3-button">To 480p</a>
        </div>
      </div>
  </div>
  <hr style="margin:1px;">
  {%endfor%}

  {%for i in range(0, image_list|length)%}
  <div class="w3-cell-row" style="width:100%; word-wrap:break-word; overflow-wrap:break-word; word-break:break-all;">
      <div class="w3-container w3-cell" style="max-width:100%; word-wrap:break-word; overflow-wrap:break-word;; word-break:break-all;">
        <a onclick="openFile('{{asset_dir}}', '{{image_list[i]}}');">
          <img src="./static/thumbnails/{{ image_list[i] }}.jpg" alt="Thumbnail" onerror=this.src="./static/file.png" 
            style="max-width:100%; display:block; margin-top:0.1em; text-align:center;">
        </a>      
        <p style="margin-top:0.1em; margin-bottom:0.1em;"><a href="javascript:openFile('{{asset_dir}}', '{{image_list[i]}}');">{{ image_list[i] }}</a></p>
        <p style="margin-top: auto;">{{imagesize_list[i]}}KB</p>
      </div>
      <div class="w3-container w3-cell" style="width:3%;padding:2px;">
        <button onclick="contextMenu('image-{{i}}');" class="w3-button w3-white">&#x22EE;</button>
        <div id="context-menu-image-{{i}}" class="w3-dropdown-content w3-bar-block w3-border w3-left" style="margin-left:-100px;">
          <a onclick="contextMenuItemRenameVideo('{{ image_list[i] }}');" class="w3-bar-item w3-button">Rename</a>
          <a onclick="contextMenuItemRemoveVideo('{{ image_list[i] }}');" class="w3-bar-item w3-button">Remove</a>
        </div>
      </div>
  </div>
  <hr style="margin:1px;">
  {%endfor%}

  {%for i in range(0, file_list|length)%}
  <div class="w3-cell-row" style="width:100%; word-wrap:break-word; overflow-wrap:break-word; word-break:break-all;">
      <div class="w3-container w3-cell" style="width:33%;">
        <a onclick="openFile('{{asset_dir}}', '{{file_list[i]}}');">
          <img src="./static/file.png" alt="Thumbnail"
            style="max-width:100%;max-height:9em;display: block;margin-top:0.1em; text-align:center;">
        </a>
      </div>
      <div class="w3-container w3-cell" style="max-width:100%; word-wrap:break-word; overflow-wrap:break-word;; word-break:break-all;">
        <p style="margin-top:0.1em; margin-bottom:0.1em;"><a href="javascript:openFile('{{asset_dir}}', '{{file_list[i]}}');">{{ file_list[i] }}</a></p>
        <p style="margin-top: auto;">{{filesize_list[i]}}MB</p>
      </div>
      <div class="w3-container w3-cell" style="width:3%;padding:2px;">
        <button onclick="contextMenu('file-{{i}}');" class="w3-button w3-white">&#x22EE;</button>
        <div id="context-menu-file-{{i}}" class="w3-dropdown-content w3-bar-block w3-border w3-left" style="margin-left:-100px;">
          <a onclick="contextMenuItemRenameVideo('{{ file_list[i] }}');" class="w3-bar-item w3-button">Rename</a>
          <a onclick="contextMenuItemRemoveVideo('{{ file_list[i] }}');" class="w3-bar-item w3-button">Remove</a>
        </div>
      </div>
  </div>
  <hr style="margin:1px;">
  {%endfor%}
    
  <div id="msgbox-yesno" class="w3-modal">
    <div class="w3-modal-content" style="max-width:90%;">
      <header class="w3-container w3-blue">
        <span onclick="document.getElementById('msgbox-yesno').style.display='none'"
        class="w3-button w3-display-topright">&times;</span>
        <h4>Delete</h4>
      </header>
      <input id="value1-msgbox-yesno" type="text" value="test" hidden>
      <input id="value2-msgbox-yesno" type="text" value="test" hidden>
      <div class="w3-container" style="word-wrap:break-word; overflow-wrap:break-word;; word-break:break-all;">
        <p id="initial-msg-yesno"></p>
        <p id="return-msg-yesno"></p>
        <p>
           <button id="no-button-msgbox-yesno" onclick="document.getElementById('msgbox-yesno').style.display='none';" class="w3-right w3-button w3-blue">No</button>
           <button id="yes-button-msgbox-yesno" onclick="dummyFunction();" class="w3-right w3-button w3-blue" style="margin-right:1em;">Yes</button>
        </p>
      </div>
    </div>
  </div> 

  <div id="msgbox-1input" class="w3-modal">
    <div class="w3-modal-content" style="max-width:90%;">
      <header class="w3-container w3-blue">
        <span onclick="document.getElementById('msgbox-1input').style.display='none'"
        class="w3-button w3-display-topright">&times;</span>
        <h4>Convert</h4>
      </header>
      <div class="w3-container" style="word-wrap:break-word; overflow-wrap:break-word;; word-break:break-all;">
        <p id="initial-msg-1input"></p>
        <input id="value1-msgbox-1input" type="text" value="test" hidden>
        <input id="value2-msgbox-1input" type="text" value="test" hidden>
        <input id="input-msg-1input" class="w3-input" type="text" value="dummy-value">
        <p id="return-msg-1input"></p>
        <p><button id="submit-button-msgbox-1input" onclick="dummyFunction();" class="w3-right w3-button w3-blue">Submit</button></p>
      </div>
    </div>
  </div> 
  {% if dir_list|length == 0 and video_list|length == 0 and image_list|length == 0 and file_list|length == 0 %}
  <div style="text-align:center;">Empty dir!</div>
  {% endif %}

</div>
<script>
  function openFile(asset_dir, file_name) {	
    window.open('./view/?asset_dir=' + encodeURIComponent(asset_dir) + '&file_name=' + encodeURIComponent(file_name), '_blank');
  }
  
  function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  }  
  
  function manipulateVideoYesNoOnly(operationType) {    
    const xhr = new XMLHttpRequest();
    xhr.timeout = 10000;
    console.log('operationType: ' + operationType);
    if (operationType == "remove") { var url = './rm/?asset_dir={{asset_dir}}&video_name=' + encodeURIComponent(document.getElementById('value1-msgbox-yesno').value); }
    else if (operationType == "scale") { var url = './scale/?asset_dir={{asset_dir}}&video_name=' + encodeURIComponent(document.getElementById('value1-msgbox-yesno').value) + 
                                                                                             '&resolution=' + encodeURIComponent(document.getElementById('value2-msgbox-yesno').value); }
    else { return; }
    
    xhr.onreadystatechange = async function(e) {
      if (xhr.readyState === 4) {
        console.log('xhr.responseText: ' + xhr.responseText);
        if (xhr.status === 200) {
            document.getElementById('yes-button-msgbox-yesno').style.display='none';
            document.getElementById('no-button-msgbox-yesno').style.display='none';
            if (operationType == "remove") { document.getElementById('return-msg-yesno').innerHTML = 'Success!'; }
            else if (operationType == "scale") {
              document.getElementById('return-msg-yesno').innerHTML = 'Server starts scaling in the background. Note that the server is not designed to handle concurrent operation to one file. Do not modify the source file before the scaling is done!';
              await sleep(2000); 
            }
            await sleep(1000);
            document.getElementById('msgbox-yesno').style.display='none';
            location.reload();
        } else {
          document.getElementById('return-msg-yesno').innerHTML = '<b>ERROR</b><br>Status Code: ' + xhr.status.toString() + '<br>Message:<div style="max-width:30rem">' + xhr.responseText + '</div>';
        }
      }
    };
    xhr.ontimeout = function () {
      document.getElementById('return-msg-yesno').innerHTML = '<b>ERROR</b>: Unable to communicate with server: connection timeout.';
    };
    xhr.open('get', url, true);
    xhr.send();
  }  

  function manipulateFile1Input(operationType) {    
    const xhr = new XMLHttpRequest();
    xhr.timeout = 10000;
    console.log('operationType: ' + operationType);
    if (operationType == "rename") { 
      var url = './mv/?asset_dir={{asset_dir}}&video_name_from=' + 
                                                encodeURIComponent(document.getElementById('value1-msgbox-1input').value) + '&video_name_to=' + 
                                                encodeURIComponent(document.getElementById('input-msg-1input').value);
    } else if (operationType == "convert") { 
      var url = './convert/?asset_dir={{asset_dir}}&video_name=' + 
                                                encodeURIComponent(document.getElementById('value1-msgbox-1input').value) + '&crf=' + 
                                                encodeURIComponent(document.getElementById('input-msg-1input').value);
    }
    else { return; }
    
    xhr.onreadystatechange = async function(e) {
      if (xhr.readyState === 4) {
        console.log('xhr.responseText: ' + xhr.responseText);
        if (xhr.status === 200) {
            document.getElementById('submit-button-msgbox-1input').style.display='none';
            if (operationType == "rename") { document.getElementById('return-msg-1input').innerHTML = 'Success!'; }
            else if (operationType == "convert") {
              document.getElementById('return-msg-1input').innerHTML = 'The file is being converted by a separate ffmpeg process. Please do not modify the file until the conversion is done.';
              await sleep(2000); 
            }
            await sleep(500);
            document.getElementById('msgbox-1input').style.display='none';
            location.reload();
        } else {
          document.getElementById('return-msg-1input').innerHTML = '<b>ERROR</b><br>Status Code: ' + xhr.status.toString() + '<br>Message:<div style="max-width:30rem">' + xhr.responseText + '</div>';
        }
      }
    };
    xhr.ontimeout = function () {
      document.getElementById('return-msg-1input').innerHTML = '<b>ERROR</b>: Unable to communicate with server: connection timeout.';
    };
    xhr.open('get', url, true);
    xhr.send();
  }  
    
  function contextMenuItemRenameVideo(video_name_from) {
    console.log("video_name_from: " + video_name_from);
    document.getElementById('msgbox-1input').style.display='block';
    document.getElementById('return-msg-1input').innerHTML = '';
    document.getElementById('initial-msg-1input').innerHTML = 'Rename <b>' + video_name_from + '</b> to:';
    document.getElementById('value1-msgbox-1input').value = video_name_from;
    document.getElementById('input-msg-1input').value = video_name_from;
    document.getElementById('submit-button-msgbox-1input').onclick = function () { manipulateFile1Input("rename"); };
  }  
  function contextMenuItemConvertVideo(video_name) {
    $("#msgbox-1input").css({ display: "block" });
    $("#initial-msg-1input").html('Convert <b>' + video_name + '</b> to webm with the following constant rate factor (CRF)<br>0: Best quality, 23: Most common, 51: Smallest size');
    $("#value1-msgbox-1input").val(video_name);
    $("#input-msg-1input").val(23);    
    $("#submit-button-msgbox-1input").click(function () { manipulateFile1Input("convert"); });
  }
  
  function contextMenuItemScaleVideo480P(video_name) {
    document.getElementById('msgbox-yesno').style.display='block';
    document.getElementById('return-msg-yesno').innerHTML = '';
    document.getElementById('initial-msg-yesno').innerHTML = 'Scale <b>' + video_name + '</b> to 480P?';
    document.getElementById('value1-msgbox-yesno').value = video_name;
    document.getElementById('value2-msgbox-yesno').value = 480;
    document.getElementById('yes-button-msgbox-yesno').onclick = function () { manipulateVideoYesNoOnly("scale"); };
  }
  function contextMenuItemScaleVideo640P(video_name) {
    document.getElementById('msgbox-yesno').style.display='block';
    document.getElementById('return-msg-yesno').innerHTML = '';
    document.getElementById('initial-msg-yesno').innerHTML = 'Scale <b>' + video_name + '</b> to 640P?';
    document.getElementById('value1-msgbox-yesno').value = video_name;
    document.getElementById('value2-msgbox-yesno').value = 640;
    document.getElementById('yes-button-msgbox-yesno').onclick = function () { manipulateVideoYesNoOnly("scale"); };
  }
  function contextMenuItemRemoveVideo(video_name) {
    document.getElementById('msgbox-yesno').style.display='block';
    $("#return-msg-yesno").html('');
    $("#initial-msg-yesno").html('Are you sure to delete <b>' + video_name + '</b>?');
    document.getElementById('value1-msgbox-yesno').value = video_name;
    document.getElementById('yes-button-msgbox-yesno').onclick = function () { manipulateVideoYesNoOnly("remove"); };
  }
  
  function contextMenu(id) {
    var x = document.getElementById("context-menu-" + id);
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
    } else { 
      x.className = x.className.replace(" w3-show", "");
    }
  }
</script>
</body>
</html>