<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="{{app_address}}/static/img/favicon.svg">
<link rel="stylesheet" href="{{app_address}}/static/css/playback.css">
<link rel="stylesheet" href="{{app_address}}/static/js/lib/bootstrap-icons.{{mode}}-1.5.0.css">
<link rel="stylesheet" href="{{app_address}}/static/js/lib/bootstrap/5.0.2/bootstrap.{{mode}}.css">
<script src="{{app_address}}/static/js/lib/axios/0.21.1/axios.{{mode}}.js"></script>
<script src="{{app_address}}/static/js/lib/babel.{{mode}}-6.26.0.js"></script>
<script src="{{app_address}}/static/js/lib/bootstrap/5.0.2/bootstrap.bundle.{{mode}}.js"></script>
<script src="{{app_address}}/static/js/lib/jquery-3.6.0.{{mode}}.js"></script>
<script src="{{app_address}}/static/js/lib/react.{{mode}}-17.0.2.js"></script>
<script src="{{app_address}}/static/js/lib/react-dom.{{mode}}-17.0.2.js"></script>
<script src="{{app_address}}/static/js/common.js" type="text/jsx"></script>
<script src="{{app_address}}/static/js/playback.js" type="text/jsx"></script>
<html>

<head>
<title>Playback</title>
</head>
<body>
  <script>
    window.app_address = "{{ app_address | safe }}";
    var paras = JSON.parse({{ paras | tojson }});
    document.title = 'Playback[' + paras.video_name + ']';
  </script>
  <div id="root"></div>
</body>
</html>