<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="{{app_address}}/static/favicon.svg">
<link rel="stylesheet" href="{{app_address}}/static/playback.css">
<link rel="stylesheet" href="{{app_address}}/static/lib/bootstrap-icons.{{mode}}-1.5.0.css">
<link rel="stylesheet" href="{{app_address}}/static/lib/bootstrap.{{mode}}-5.0.1.css">
<script src="{{app_address}}/static/lib/axios.{{mode}}-0.21.1.js"></script>
<script src="{{app_address}}/static/lib/babel.{{mode}}-6.26.0.js"></script>
<script src="{{app_address}}/static/lib/bootstrap.bundle.{{mode}}-5.0.1.js"></script>
<script src="{{app_address}}/static/lib/jquery-3.6.0.{{mode}}.js"></script>
<script src="{{app_address}}/static/lib/react.{{mode}}-17.0.2.js"></script>
<script src="{{app_address}}/static/lib/react-dom.{{mode}}-17.0.2.js"></script>
<script src="{{app_address}}/static/common.js" type="text/jsx"></script>
<script src="{{app_address}}/static/playback.js" type="text/jsx"></script>
<html>
<head>
<title>Playback[{{ video_name }}]</title>
</head>
<script>
  window.app_address = "{{ app_address | safe }}";
  window.asset_dir = "{{ asset_dir | safe }}";
  window.video_name = "{{ video_name | safe }}";
  window.views = {{ views }};
  window.last_view = "{{ last_view | safe }}";
</script>
<body>
  <div id="root"></div>
</body>
</html>